fastapi
uvicorn
numpy==1.23.5
speechbrain==1.0.3
torch==2.1.0
torchaudio==2.1.0
transformers==4.36.0
pydub
python-multipart
soundfile
datasets==2.9.0
huggingface-hub>=0.19.3,<1.0
ruamel.yaml==0.17.21
librosa==0.10.1
torchvision==0.16.0
urllib3<2.0.0